                    body {
                    background-image: url("../img/studentbg.jpg");
                }
                div.index {
                    display: block;
                    padding-top: 10px;
                    position: absolute;
                    top: 40%;
                    left: 30%;
                    width: 40%;
                    height: auto;
                    background-color: rgba(194, 192, 192, 0.616);
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif; 
                }
                div.main {
                    display: block;
                    padding-top: 10px;
                    position: absolute;
                    top: 20%;
                    left: 30%;
                    width: 40%;
                    height: auto;
                    background-color: rgba(194, 192, 192, 0.616);
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                div.main .form {
                    width: 90%;
                    padding: 26px;
                    text-align: left;
                }
                
                div.main .form input[type="text"] {
                    display: block;
                    height: 35px;
                    width: 100%;
                    margin-bottom: 5px;
                    padding: 3px
                }
                div.main .form input[type="number"] {
                    display: block;
                    height: 35px;
                    width: 100%;
                    margin-bottom: 5px;
                    padding: 3px 
                }
                
                div.main .form select {
                    display: block;
                    height: 35px;
                    width: 100%;
                    margin-bottom: 5px;
                    padding: 3px;
                }
                
                div.main .submitbt {
                    margin-top: 6px;
                    height: 35px;
                    width: 100px;
                    margin-bottom: 5px;
                    background-color: blue;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
                
                div.sidebar {
                    cursor: pointer;
                    color: white;
                }
                
                div.sidebar:hover {
                    color: #818181;
                }
                
                div.opensidebar {
                    position: fixed;
                    height: -webkit-fill-available;
                    width: 250px;
                    top: 0px;
                    left: 0px;
                    background-color: #111;
                    text-decoration: none;
                    z-index: 1;
                    font-weight: bold;
                    font-family: "Lato", sans-serif;
                    transition: .4s;
					list-style: none;
                }
                
                div.opensidebar li {
                    padding: 60px 0 0 30px;
                }
                
                div.opensidebar li a {
                    color: #818181;
                    text-decoration: none;
                }
                
                div.opensidebar a:hover {
                    color: #f1f1f1;
                }
                
                div.opensidebar .closeBtn {
                    position: absolute;
                    left: 215px;
                    top: 10px;
                    cursor: pointer;
                    color: #818181;
                }
                
                div.opensidebar .closeBtn:hover {
                    color: #f1f1f1;