<div class="sidebar" onclick="opensidebar()"><i class="fa fa-toggle-right" style="font-size:36px"></i></div>
<div id="opensidebar" class="opensidebar">
    <li><a href="Get Student Details">Get Student</a></li>
    <li><a href="Delete Student Details">Delete Student</a></li>
    <li><a href="Update Student Details">Update Student</a></li>
    <li><a href="Create Student Details">Create Student</a></li>
    <div class="closeBtn" onclick="hidesidebar()"><i class="fa fa-toggle-left" style="font-size:36px"></i></div>
</div>
<div id="main" class="closeBtn" onclick="openNav()"><i class="" style="font-size:36px"></i></div>